<div class="container-fluid ">
    <div class="container text-center">
        <br/>
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <div class="card" style="width: 20rem; ">
                    <img src="../assets/Img/Banner.png" style=" height:100px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-start mb-3" style="color:darkcyan">To do list</h5>
                        <div class="input-group mb-2">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                          <option selected>All</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                        </div>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="placeholder   ">
                        </div>
                        <div class="input-group mb-2">
                            <h5 class="card-title text-start" style="color:darkcyan">All</h5>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">X</button>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">X</button>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">X</button>
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

</div>